{%- style -%}
  img-comparison-slider,
  img-comparison-slider img {
    max-width: 100%;
    height: auto;
  }
  img-comparison-slider:focus-visible {
    outline: unset;
    outline-offset: 0;
    box-shadow: unset;
  }
{%- endstyle -%}
<div class="comparison-slider">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <script
          defer
          src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"
        ></script>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"
        />
        <img-comparison-slider>
          <img slot="first" src="{{ 'compara-slider-01.jpg' | asset_url }}" width="1800" height="600"/>
          <img slot="second" src="{{ 'compara-slider-02.jpg' | asset_url }}" width="1800" height="600"/>
        </img-comparison-slider>
      </div>
    </div>
  </div>
</div>