{% style %}
.carousel-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  height: auto;
  padding: 12px;
}
.carousel-slider .swiper-button-prev {
  display: flex;
  background-color: #215aa8;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  left: 0;
  width: 22px;
  height: 44px;
}
.carousel-slider .swiper-button-next {
  display: flex;
  background-color: #215AA8;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  right: 0;
  width: 22px;
  height: 44px;
}
.carousel-slider .swiper-button-next:after,
.carousel-slider .swiper-button-prev:after {
  font-size: 18px;
  color: #fff;
}
{% endstyle %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="container">
<div class="swiper carousel-slider">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if block.settings.image_link != blank %}
          <a href="{{ block.settings.image_link}}">
        {% endif %}
        {{
          block.settings.image
          | image_url:
            width: 160,
            height: 80,
            crop: 'center'
          | image_tag:
            class: 'image-slider'
        }}
        {% if block.settings.image_link != blank %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-button swiper-button-next"></div>
</div>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% javascript %}
  window.addEventListener('load', function() {
    const swiper = new Swiper('.carousel-slider', {
      speed: 400,
      slidesPerView: 6,
      spaceBetween: 15,
      navigation: {
          nextEl: '.carousel-slider .swiper-button-next',
          prevEl: '.carousel-slider .swiper-button-prev',
      },
      breakpoints: {
          0: {
            slidesPerView: 2
          },
          1024: {
            slidesPerView: 6
          }
      }
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Slider de Imagens",
  "max_blocks": 24,
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 6,
      "label": "Slides Per View"
    }
  ],
  "blocks": [    
    {
      "type": "imagem",
      "name": "Slide de Imagem",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagem do slide"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link da imagem"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider de Imagens",
      "category": "Imagens"
    }
  ]
}
{% endschema %}